@import "../../responsive.scss";

.searchBar {
    .type {
        display: flex;
        justify-content: flex-start;

        button {
            padding: 16px 36px;
            border: 1px solid #999;
            border-bottom: none;
            cursor: pointer;
            background-color: white;
            text-transform: capitalize;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            &.active {
                background-color: black;
                color: white;
            }
        }
    }

    form {
        border: 1px solid #999;
        display: flex;
        justify-content: space-between;
        height: 64px;
        gap: 5px;

        @include sm {
            flex-direction: column;
            border: none;
        }

        input {
            border: none;
            padding: 0px 10px;
            flex: 1;

            @include lg {
                padding: 0px 5px;
            }

            @include sm {
                padding: 20px;
                border: 1px solid #999;
            }
        }

        button {
            border: none;
            cursor: pointer;
            background-color: #fece51;
            padding: 0 20px;

            @include sm {
                padding: 10px;
            }

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}